.app{
    background-color: white;
}
.app__imagelogo{
    height: 100px;
    padding: 10px;
    padding-bottom: 0;
    align-items: center;

}
.app__title{
    padding: 10px;
    align-items: center;
    padding-bottom: 0;
    font-size: 140%;
}
.app__logo{
    display:flex;
    width:100%;
    align-items: center;
    padding: 5px;
    
    justify-content:center;
}
.app__desc{
    margin:10px;
    padding: 10px;
    display:flex;
}
